import { html } from 'lit';
import { <%= className %> } from '../../index.js';

export function render(view: <%= className %>) {
  return html`
    <div class="container">
      <h1><%= className %> Module</h1>
      <p>Welcome to the <%= className %> module!</p>
    </div>
  `;
}
